.date {
  margin: 0;
  width: 235px;
  height: 42px;
  border: none;
  background: transparent;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  position: relative;
}
.date__label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: var(--font-color-secondary);
}
.date__day {
  max-width: 56px;
}
.date__year {
  max-width: 68px;
}
.date__day,
.date__month,
.date__year {
  padding-top: 18px;
  height: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  color: var(--font-color-primary);
  border: none;
  border-bottom: solid 1px var(--background-auth-color);
  background: transparent;
  background-image: url(/images/chevron.svg);
  background-repeat: no-repeat;
  background-position: right 28px;
  appearance: none;
  outline: none;
}
.date__day:focus,
.date__month:focus,
.date__year:focus {
  border-color: var(--font-color-primary);
}
.date__day:hover,
.date__month:hover,
.date__year:hover {
  border-color: var(--font-color-primary);
}
